<div class="grid grid-cols-2 gap-4">
  <div class="font-bold flex items-center">
    <span
      class="
        bg-blue-600
        rounded-full
        h-4
        w-4
        inline-flex
        items-center
        justify-center
        mr-2
      "
    >
    </span>
    <a style="transform: translateY(0.6px)" href="/">BerowraCMS</a>
  </div>
  <div class="flex items-center justify-end">
    <span style="transform: translateY(0.6px)">
      <a href="/content" class="mr-3 hover:underline">Content</a>
      <a href="/files" class="mr-3 hover:underline">Files</a>
      <a href="/api" class="hover:underline">API</a>
    </span>
  </div>
</div>