<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'header.html' %}
  </head>
  <body>
    {% include 'nav.html' %}
    <section
      class="
        pt-6
        pb-4
        sm:pb-6
        lg:pb-4
        xl:pb-6
        mb-6
        sm:mb-6
        lg:mb-6
        xl:mb-6
        space-y-4
      "
    >
      <h2 class="text-2xl font-bold">Edit Collection:  <a class="underline"
        href="/collection/{{collectionId}}">{{title}}</a></h2>
      <p class="max-w-xl">
        Editing is in <b>BETA</b>, please report any bugs <a href="https://github.com/sampoder/berowra" class="underline">here</a>. Before using this tool, making a backup <a href="/api/collection/{{collectionId}}?content" class="underline">here</a> is recommended as a precautionary measure.
      </p>
      {% for item in collectionItems %}
      {% if item.title|trim != "" %}
        <form
          action="/collection/{{collectionId}}/edit/edit-field/{{item.id}}"
          method="post"
          class="mt-8 max-w-xl"
        >
          <div class="grid grid-cols-1 gap-6">
            <div id="fields">
              <div class="flex w-full">
                <label class="block">
                  <span class="text-gray-700">Field type</span>
                  <select
                    class="
                      block
                      mt-1
                      mr-3
                      rounded-md
                      border-gray-300
                      focus:border-blue-300
                      focus:ring
                      focus:ring-blue-200
                      focus:ring-opacity-50
                    "
                    name="fieldType"
                    required
                  >
                    {% if item.type == "String" %}
                      <option selected>String</option>
                    {% endif %}
                    {% if item.type != "String" %}
                      <option>String</option>
                    {% endif %}
                    {% if item.type == "Markdown" %}
                      <option selected>Markdown</option>
                    {% endif %}
                    {% if item.type != "Markdown" %}
                      <option>Markdown</option>
                    {% endif %}
                    {% if item.type == "String Array" %}
                      <option selected>String Array</option>
                    {% endif %}
                    {% if item.type != "String Array" %}
                      <option>String Array</option>
                    {% endif %}
                    {% if item.type == "Date" %}
                      <option selected>Date</option>
                    {% endif %}
                    {% if item.type == "Number" %}
                      <option selected>Number</option>
                    {% endif %}
                    {% if item.type == "Colour" %}
                      <option selected>Colour</option>
                    {% endif %}
                    {% if item.type == "Files" %}
                      <option selected>Files</option>
                    {% endif %}
                  </select>
                </label>
                <label class="block flex-grow" name="title">
                  <span class="text-gray-700">Field Name</span>
                  <input
                    type="text"
                    class="
                      mt-1
                      block
                      rounded-md
                      border-gray-300
                      focus:border-blue-300
                      focus:ring
                      focus:ring-blue-200
                      focus:ring-opacity-50
                      w-full
                    "
                    placeholder=""
                    name="fieldTitle"
                    required
                    value="{{item.title}}"
                  />
                </label>
                <label class="block ml-3">
                  <span class="text-gray-700">Controls</span>
                  <div class="flex">
                    <input
                      type="submit"
                      class="
                        mt-1
                        border
                        rounded-md
                        py-2
                        mr-3
                        px-3
                        text-gray-100
                        focus:border-blue-300
                        focus:ring
                        focus:ring-blue-200
                        focus:ring-opacity-50
                        text-left
                        bg-blue-600
                      "
                      value="Update"
                    />
                    <a
                      href="/collection/{{collectionId}}/edit/delete-field/{{item.id}}"
                      class="
                        mt-1
                        border
                        rounded-md
                        py-2
                        px-3
                        text-gray-100
                        focus:border-blue-300
                        focus:ring
                        focus:ring-blue-200
                        focus:ring-opacity-50
                        text-left
                        bg-red-600
                      "
                      data-no-instant
                    >Delete</a>
                  </div>
                </label>
              </div>
            </div>
          
          </div>
        </form>
      {% endif %}
      {% endfor %}
      <div style="margin-top: 20px;">
        <h3 class="text-xl font-bold">Add A New Field</h2>
      </div>
      <form
        action="/collection/{{collectionId}}/edit/new-field"
        method="post"
        class="mt-8 max-w-xl"
      >
        <div class="grid grid-cols-1 gap-6">
          <div id="fields">
            <div class="flex w-full">
              <label class="block">
                <span class="text-gray-700">Field type</span>
                <select
                  class="
                    block
                    mt-1
                    mr-3
                    rounded-md
                    border-gray-300
                    focus:border-blue-300
                    focus:ring
                    focus:ring-blue-200
                    focus:ring-opacity-50
                  "
                  name="fieldType"
                  required
                >
                  <option>String</option>
                  <option>Date</option>
                  <option>Markdown</option>
                  <option>Number</option>
                  <option>Colour</option>
                  <option>Files</option>
                  <option>String Array</option>
                </select>
              </label>
              <label class="block flex-grow" name="title">
                <span class="text-gray-700">Field Name</span>
                <input
                  type="text"
                  class="
                    mt-1
                    block
                    rounded-md
                    border-gray-300
                    focus:border-blue-300
                    focus:ring
                    focus:ring-blue-200
                    focus:ring-opacity-50
                    w-full
                  "
                  placeholder=""
                  name="fieldTitle"
                  required
                />
              </label>
            </div>
          </div>
          <input
            type="submit"
            class="
              mt-1
              border
              rounded-md
              py-2
              px-3
              text-gray-100
              border-gray-800
              focus:border-blue-300
              focus:ring
              focus:ring-blue-200
              focus:ring-opacity-50
              text-left
              bg-blue-600
            "
            value="Add New Field"
          />
        </div>
      </form>
    </section>
    {% include 'footer.html' %}
  </body>
  <script>
    let amountOfFields = 1;
    function createFieldField() {
      amountOfFields += 1;
      let htmlString = `
        <div class="flex w-full mt-6">
          <label class="block">
            <span class="text-gray-700">Field type</span>
            <select
              class="
                block 
                mr-3
                mt-1
                rounded-md
                border-gray-300
                focus:border-blue-300
                focus:ring
                focus:ring-blue-200
                focus:ring-opacity-50
              "
              name="fieldType${amountOfFields}"
            >
                <option>String</option>
                <option>Date</option>
                <option>Markdown</option>
                <option>Number</option>
                <option>Colour</option>
                <option>Files</option>
                <option>String Array</option>
            </select>
          </label>
          <label class="block flex-grow">
            <span class="text-gray-700">Field Name</span>
            <input
              type="text"
              class="
                mt-1
                block
                rounded-md
                border-gray-300
                focus:border-blue-300
                focus:ring
                focus:ring-blue-200
                focus:ring-opacity-50
                w-full
              "
              name="fieldTitle${amountOfFields}"
              placeholder=""
            />
          </label>
        </div>
      `;
      var div = document.createElement("div");
      div.innerHTML = htmlString.trim();
      document.getElementById("fields").appendChild(div);
      // Change this to div.childNodes to support multiple top-level nodes
      return div.firstChild;
    }
  </script>
</html>
