<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="/static/tailwind-dev.css" />
<link rel="stylesheet" href="/static/tailwind.css" />
<link rel="stylesheet" href="/static/easymde.min.css">
<script src="/static/easymde.min.js"></script>
<style>
  html {
    padding: 1rem;
    font-family: Roboto Mono, Menlo, monospace;
    min-height: 100vh;
    position: relative;
  }
</style>
<link rel="icon" href="/static/favicon.ico" type="image/x-icon" />
<link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon" />
<title>BerowraCMS</title>