<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'header.html' %}
  </head>
  <body>
    {% include 'min-nav.html' %}
    <div class="flex align-middle" style="min-height: calc(100vh - 16px - 2rem)">
      <div style="height: fit-content" class=" mt-7">
        <h1 class="text-5xl font-bold">Berowra CMS & CDN</h1>
        <p class="max-w-xl mt-2">
          Get a CMS & CDN up in a minute, not a day. Through Deta Space, Berowra
          gives you the control of self hosting without any need for
          infrastructure maintenance. It's easy to use, flexible and powerful.
        </p>

        <div
          class="
            py-2
            px-3
            rounded-md
            text-gray-100
            focus:border-blue-300
            focus:ring
            focus:ring-blue-200
            focus:ring-opacity-50
            text-left
            bg-blue-600
            cursor-pointer
            mt-2
          "
          style="width: fit-content"
        >
          Install for free on Deta Space
        </div>
      </div>
    </div>
  </body>
  <style>
    body {
      background-image: linear-gradient(
          300deg,
          rgba(1, 28, 54, 0.5480567226890756) 0%,
          rgba(1, 28, 54, 0.4248074229691877) 100%
        ),
        url("https://upload.wikimedia.org/wikipedia/commons/3/34/Berowra_Waters_%284%29.jpg");
      background-size: cover;
      color: white;

    }
  </style>
</html>
